<content data-context="main-content">
	<canvas class="main-canvas" data-click="pause-shader"></canvas>

	<div class="details">
		<div>Resolution: <span class="resolution">&#160;</span></div>
		<div>Quality:    <span class="quality">&#160;</span></div>
		<div>Time:       <span class="time">&#160;</span></div>
		<div>Framerate:  <span class="frameRate">&#160;</span></div>
		<div>Textures:   <span class="texture" data-click="toggle-textures">Hidden</span></div>
		<div>State:      <span class="state">&#160;</span></div>
	</div>
	
	<div class="textures">
		<canvas class="iChannel0"></canvas>
		<canvas class="iChannel1"></canvas>
		<canvas class="iChannel2"></canvas>
		<canvas class="iChannel3"></canvas>
	</div>
</content>
